<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SynthesisSequenceGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SynthesisSequenceGenerator.Properties.Settings>
            <setting name="SourceSequenses" serializeAs="String">
                <value>0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15</value>
            </setting>
        </SynthesisSequenceGenerator.Properties.Settings>
    </userSettings>
</configuration>